<table id="dataTable" class="display compact hover nowrap cell-border" cellspacing="0" width="100%" style="font-size: 14px;">
    <thead>
        <tr>
            <th class="autoHeader">
                <div class="reservoirSizeTitle" style="font-size: 18px;"></div>
            </th>
        </tr>
        <tr>
            <th class="table-striped-blue" style="border-top: 7px solid #787a7a;" colspan="1"></th>
            <th class="table-striped vegCycle" colspan="2">
                <center>VEGETATIVE &nbsp;&nbsp; CYCLE</center>
            </th>
            
            <th class="table-striped-orange flowerCycle" colspan="7">
                <center>FLOWER &nbsp;&nbsp; CYCLE</center>
            </th>
            <th class="table-striped-blue" style="border-top: 7px solid #787a7a;" colspan="1">
                <center>Total</center>
            </th>
        </tr>
        <tr>
            <th class="table-striped-blue">Additives</th>
            <th class="table-striped">
                <center>Clone</center>
            </th>
            <th class="table-striped">
                <center>Week <br />1</center>
            </th>

            

            <th class="table-striped-orange">
                <center>Week <br />1</center>
            </th>
            <th class="table-striped-orange">
                <center>Week <br />2</center>
            </th>
            <th class="table-striped-orange">
                <center>Week <br />3-8</center>
            </th>
            <th class="table-striped-orange">
                <center>Week <br />9-12</center>
            </th>
            <th class="table-striped-orange">
                <center>Week <br />13</center>
            </th>
            <th class="table-striped-orange">
                <center>Week <br />14</center>
            </th>
            <th class="table-striped-orange">
                <center>Week <br />15</center>
            </th>

            <th class="table-striped-blue">
                <center>ML <br />Needed</center>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>ROOTS</b></td>
            <td><input class="transparent-input" type="text" id="clone-roots" name="clone-roots"></td>
            <td><input class="transparent-input" type="text" id="week_1" name="week_1"></td>

            

            <td><input class="transparent-input" type="text" id="flow_week_1" name="flow_week_1"></td>
            <td><input class="transparent-input" type="text" id="flow_week_2" name="flow_week_2"></td>
            <td><input class="transparent-input" type="text" id="flow_week_3" name="flow_week_3"></td>
            <td><input class="transparent-input" type="text" id="flow_week_6" name="flow_week_6"></td>
            <td><input class="transparent-input" type="text" id="flow_week_7" name="flow_week_7"></td>
            <td><input class="transparent-input" type="text" id="flow_week_8" name="flow_week_8"></td>

            <td><input class="transparent-input" type="text" id="flow_week_9" name="flow_week_9"></td>

            <td><input class="transparent-input" type="text" id="roots_ML" name="roots_ML"></td>

        </tr>

        <tr>
            <td><b>PRE</b></td>
            <td><input class="transparent-input" type="text" id="clone-pre" name="clone-pre"></td>
            <td><input class="transparent-input" type="text" id="week_1" name="week_1"></td>

            

            <td><input class="transparent-input" type="text" id="flow_week_1" name="flow_week_1"></td>
            <td><input class="transparent-input" type="text" id="flow_week_2" name="flow_week_2"></td>
            <td><input class="transparent-input" type="text" id="flow_week_3" name="flow_week_3"></td>
            <td><input class="transparent-input" type="text" id="flow_week_6" name="flow_week_6"></td>
            <td><input class="transparent-input" type="text" id="flow_week_7" name="flow_week_7"></td>
            <td><input class="transparent-input" type="text" id="flow_week_8" name="flow_week_8"></td>

            <td><input class="transparent-input" type="text" id="flow_week_9" name="flow_week_9"></td>

            <td><input class="transparent-input" type="text" id="pre_ML" name="pre_ML"></td>

        </tr>
        <tr>
            <td><b>ULTRA*</b></td>
            <td><input class="transparent-input" type="text" id="clone-ultra" name="clone-ultra"></td>
            <td><input class="transparent-input" type="text" id="week_1" name="week_1"></td>

            

            <td><span><input class="transparent-input" type="text" id="flow_week_1" name="flow_week_1">*</span></td>
            <td><input class="transparent-input" type="text" id="flow_week_2" name="flow_week_2"></td>
            <td><input class="transparent-input" type="text" id="flow_week_3" name="flow_week_3"></td>
            <td><input class="transparent-input" type="text" id="flow_week_6" name="flow_week_6"></td>
            <td><input class="transparent-input" type="text" id="flow_week_7" name="flow_week_7"></td>
            <td><input class="transparent-input" type="text" id="flow_week_8" name="flow_week_8"></td>

            <td><input class="transparent-input" type="text" id="flow_week_9" name="flow_week_9"></td>

            <td><input class="transparent-input" type="text" id="ultra_ML" name="ultra_ML"></td>

        </tr>
        <tr>
            <td><b>PHAT</b></td>
            <td><input class="transparent-input" type="text" id="clone-phat" name="clone-phat"></td>
            <td><input class="transparent-input" type="text" id="week_1" name="week_1"></td>

            

            <td><input class="transparent-input" type="text" id="flow_week_1" name="flow_week_1"></td>
            <td><input class="transparent-input" type="text" id="flow_week_2" name="flow_week_2"></td>
            <td><input class="transparent-input" type="text" id="flow_week_3" name="flow_week_3"></td>
            <td><input class="transparent-input" type="text" id="flow_week_6" name="flow_week_6"></td>
            <td><input class="transparent-input" type="text" id="flow_week_7" name="flow_week_7"></td>
            <td><input class="transparent-input" type="text" id="flow_week_8" name="flow_week_8"></td>

            <td><input class="transparent-input" type="text" id="flow_week_9" name="flow_week_9"></td>

            <td><input class="transparent-input" type="text" id="phat_ML" name="phat_ML"></td>

        </tr>
        <tr>
            <td><b>OOZE</b></td>
            <td><input class="transparent-input" type="text" id="clone-ooze" name="clone-ooze"></td>
            <td><input class="transparent-input" type="text" id="week_1" name="week_1"></td>

            

            <td><input class="transparent-input" type="text" id="flow_week_1" name="flow_week_1"></td>
            <td><input class="transparent-input" type="text" id="flow_week_2" name="flow_week_2"></td>
            <td><input class="transparent-input" type="text" id="flow_week_3" name="flow_week_3"></td>
            <td><input class="transparent-input" type="text" id="flow_week_6" name="flow_week_6"></td>
            <td><input class="transparent-input" type="text" id="flow_week_7" name="flow_week_7"></td>
            <td><input class="transparent-input" type="text" id="flow_week_8" name="flow_week_8"></td>

            <td><input class="transparent-input" type="text" id="flow_week_9" name="flow_week_9"></td>

            <td><input class="transparent-input" type="text" id="ooze_ML" name="ooze_ML"></td>

        </tr>
        <tr>
            <td><b>FINAL</b></td>
            <td><input class="transparent-input" type="text" id="clone-final" name="clone-final"></td>
            <td><input class="transparent-input" type="text" id="week_1" name="week_1"></td>

            

            <td><input class="transparent-input" type="text" id="flow_week_1" name="flow_week_1"></td>
            <td><input class="transparent-input" type="text" id="flow_week_2" name="flow_week_2"></td>
            <td><input class="transparent-input" type="text" id="flow_week_3" name="flow_week_3"></td>
            <td><input class="transparent-input" type="text" id="flow_week_6" name="flow_week_6"></td>
            <td><input class="transparent-input" type="text" id="flow_week_7" name="flow_week_7"></td>
            <td><input class="transparent-input" type="text" id="flow_week_8" name="flow_week_8"></td>

            <td><input class="transparent-input" type="text" id="flow_week_9" name="flow_week_9"></td>

            <td><input class="transparent-input" type="text" id="final_ML" name="final_ML"></td>

        </tr>
        
        <tr>
            <th class="table-striped-blue" width="120">Base nutrients 2 part</th>
            <th class="table-striped noBorder">
                <!-- <center>Clone</center> -->
            </th>
            <th class="table-striped noBorder">
                <!-- <center>Week <br />1</center> -->
            </th>

            

            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />1</center> -->
            </th>
            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />2</center> -->
            </th>
            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />3-8</center> -->
            </th>
            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />9-12</center> -->
            </th>
            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />13</center> -->
            </th>
            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />14</center> -->
            </th>
            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />15</center> -->
            </th>

            <th class="table-striped-blue oneBorder">
                <!-- <center>ML <br />Needed </center> -->
            </th>
        </tr>
        <tr>
            <td><b>GROW A</b></td>
            <td><input class="transparent-input" type="text" id="clone-grow_a" name="clone-grow_a"></td>
            <td><input class="transparent-input" type="text" id="week_1" name="week_1"></td>

            

            <td><input class="transparent-input" type="text" id="flow_week_1" name="flow_week_1"></td>
            <td><input class="transparent-input" type="text" id="flow_week_2" name="flow_week_2"></td>
            <td><input class="transparent-input" type="text" id="flow_week_3" name="flow_week_3"></td>
            <td><input class="transparent-input" type="text" id="flow_week_6" name="flow_week_6"></td>
            <td><input class="transparent-input" type="text" id="flow_week_7" name="flow_week_7"></td>
            <td><input class="transparent-input" type="text" id="flow_week_8" name="flow_week_8"></td>

            <td><input class="transparent-input" type="text" id="flow_week_9" name="flow_week_9"></td>

            <td><input class="transparent-input" type="text" id="grow_a_ML" name="grow_a_ML"></td>

        </tr>
        <tr>
            <td><b>GROW B</b></td>
            <td><input class="transparent-input" type="text" id="clone-grow_b" name="clone-grow_b"></td>
            <td><input class="transparent-input" type="text" id="week_1" name="week_1"></td>

            

            <td><input class="transparent-input" type="text" id="flow_week_1" name="flow_week_1"></td>
            <td><input class="transparent-input" type="text" id="flow_week_2" name="flow_week_2"></td>
            <td><input class="transparent-input" type="text" id="flow_week_3" name="flow_week_3"></td>
            <td><input class="transparent-input" type="text" id="flow_week_6" name="flow_week_6"></td>
            <td><input class="transparent-input" type="text" id="flow_week_7" name="flow_week_7"></td>
            <td><input class="transparent-input" type="text" id="flow_week_8" name="flow_week_8"></td>

            <td><input class="transparent-input" type="text" id="flow_week_9" name="flow_week_9"></td>

            <td><input class="transparent-input" type="text" id="grow_b_ML" name="grow_b_ML"></td>

        </tr>
        <tr>
            <td><b>FLOWER A</b></td>
            <td><input class="transparent-input" type="text" id="clone-flower_a" name="clone-flower_a"></td>
            <td><input class="transparent-input" type="text" id="week_1" name="week_1"></td>

            

            <td><input class="transparent-input" type="text" id="flow_week_1" name="flow_week_1"></td>
            <td><input class="transparent-input" type="text" id="flow_week_2" name="flow_week_2"></td>
            <td><input class="transparent-input" type="text" id="flow_week_3" name="flow_week_3"></td>
            <td><input class="transparent-input" type="text" id="flow_week_6" name="flow_week_6"></td>
            <td><input class="transparent-input" type="text" id="flow_week_7" name="flow_week_7"></td>
            <td><input class="transparent-input" type="text" id="flow_week_8" name="flow_week_8"></td>

            <td><input class="transparent-input" type="text" id="flow_week_9" name="flow_week_9"></td>
  
            <td><input class="transparent-input" type="text" id="flower_a_ML" name="flower_a_ML"></td>

        </tr>
        <tr>
            <td><b>FLOWER B</b></td>
            <td><input class="transparent-input" type="text" id="clone-flower_b" name="clone-flower_b"></td>
            <td><input class="transparent-input" type="text" id="week_1" name="week_1"></td>

            

            <td><input class="transparent-input" type="text" id="flow_week_1" name="flow_week_1"></td>
            <td><input class="transparent-input" type="text" id="flow_week_2" name="flow_week_2"></td>
            <td><input class="transparent-input" type="text" id="flow_week_3" name="flow_week_3"></td>
            <td><input class="transparent-input" type="text" id="flow_week_6" name="flow_week_6"></td>
            <td><input class="transparent-input" type="text" id="flow_week_7" name="flow_week_7"></td>
            <td><input class="transparent-input" type="text" id="flow_week_8" name="flow_week_8"></td>

            <td><input class="transparent-input" type="text" id="flow_week_9" name="flow_week_9"></td>

            <td><input class="transparent-input" type="text" id="flower_b_ML" name="flower_b_ML"></td>

        </tr>

        <tr>
            <th class="table-striped-blue" width="120">Base nutrients 1 part</th>
            <th class="table-striped noBorder">
                <!-- <center>Clone</center> -->
            </th>
            <th class="table-striped noBorder">
                <!-- <center>Week <br />1</center> -->
            </th>

            

            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />1</center> -->
            </th>
            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />2</center> -->
            </th>
            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />3-8</center> -->
            </th>
            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />9-12</center> -->
            </th>
            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />13</center> -->
            </th>
            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />14</center> -->
            </th>
            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />15</center> -->
            </th>

            <th class="table-striped-blue oneBorder">
                <!-- <center>ML <br />Needed </center> -->
            </th>
        </tr>
        <tr>
            <td><b>EURO B</b></td>
            <td><input class="transparent-input" type="text" id="clone-euro_a" name="clone-euro_a"></td>
            <td><input class="transparent-input" type="text" id="week_1" name="week_1"></td>

            

            <td><input class="transparent-input" type="text" id="flow_week_1" name="flow_week_1"></td>
            <td><input class="transparent-input" type="text" id="flow_week_2" name="flow_week_2"></td>
            <td><input class="transparent-input" type="text" id="flow_week_3" name="flow_week_3"></td>
            <td><input class="transparent-input" type="text" id="flow_week_6" name="flow_week_6"></td>
            <td><input class="transparent-input" type="text" id="flow_week_7" name="flow_week_7"></td>
            <td><input class="transparent-input" type="text" id="flow_week_8" name="flow_week_8"></td>

            <td><input class="transparent-input" type="text" id="flow_week_9" name="flow_week_9"></td>

            <td><input class="transparent-input" type="text" id="euro_a_ML" name="euro_a_ML"></td>

        </tr>
        <tr>
            <td><b>EURO B</b></td>
            <td><input class="transparent-input" type="text" id="clone-euro_b" name="clone-euro_b"></td>
            <td><input class="transparent-input" type="text" id="week_1" name="week_1"></td>

            

            <td><input class="transparent-input" type="text" id="flow_week_1" name="flow_week_1"></td>
            <td><input class="transparent-input" type="text" id="flow_week_2" name="flow_week_2"></td>
            <td><input class="transparent-input" type="text" id="flow_week_3" name="flow_week_3"></td>
            <td><input class="transparent-input" type="text" id="flow_week_6" name="flow_week_6"></td>
            <td><input class="transparent-input" type="text" id="flow_week_7" name="flow_week_7"></td>
            <td><input class="transparent-input" type="text" id="flow_week_8" name="flow_week_8"></td>

            <td><input class="transparent-input" type="text" id="flow_week_9" name="flow_week_9"></td>

            <td><input class="transparent-input" type="text" id="euro_b_ML" name="euro_b_ML"></td>

        </tr>

    </tbody>
    <tbody>

        <tr>
            <th class="table-striped-blue" width="120">Foliars</th>
            <th class="table-striped noBorder">
                <!-- <center>Clone</center> -->
            </th>
            <th class="table-striped noBorder">
                <!-- <center>Week <br />1</center> -->
            </th>

            

            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />1</center> -->
            </th>
            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />2</center> -->
            </th>
            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />3-8</center> -->
            </th>
            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />9-12</center> -->
            </th>
            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />13</center> -->
            </th>
            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />14</center> -->
            </th>
            <th class="table-striped-orange noBorder">
                <!-- <center>Week <br />15</center> -->
            </th>

            <th class="table-striped-blue oneBorder">
            </th>
        </tr>

        <tr>
            <td colspan="1"><b>GROIGEN</b></td>
            <td colspan="2" style="font-size: 12px;"><b>Spray 20 mL/1L (1L covers approximately 5-6 plants)</b></td>
            
            <td colspan="7"></td>
            <td colspan="1"><input class="transparent-input" type="text" id="blank" name="blank"></td>
        </tr>

        <tr>
            <td colspan="1"><b>FLORIGEN</b></td>
            <td colspan="2"></td>
            
            <td colspan="7" style="font-size: 12px;"><b>Spray 20 mL/1L (1L covers approximately 5-6 plants)</b></td>
            <td colspan="1"><input class="transparent-input" type="text" id="blank" name="blank"></td>
        </tr>

    </tbody>
    <tfoot>
    	<tr>
    		<th style="font-size: 18px;">pH 5.6 - 6.5	Amounts per week, not per feeding</th>
    	</tr>
    </tfoot>
</table>